{% extends 'base.html' %}

{% block header %}{% include 'header.html' %}{% endblock header %}
    
{% block content %}
    <!-- ABOUT US -->
    <section id="about-us">
        <div class="container about-us">
            <!--  -->
            <div class="col1">
                <div id="col1-content">
                    <h2>OUR STORY</h2>
                    <h1>About Us</h1>
                </div>
            </div>
            <!--  -->
            <div class="col">
                <!-- /// 1 ///  -->
                <div>
                    <h1>ABOUT DEVNAIJA</h1>
                    <p>
                        DevNaija is a programming company that aims to radically transform the output of education in Africa through Tech education. We have reached over 6000 children and youths in Nigeria preparing them for the future of work with the core skills in programming and robotics. Our hands-on, project-based and peer learning approach is helping to build brilliant talents that will unleash globally competitive innovations from Africa.
                    </p>
                </div>
                <!-- //// 2 /////  -->
                <div>
                    <h1>VISION</h1>
                    <p>
                        To become the world’s leading tech ﬁrm with the greatest reach for coding training to the next generation of innovators.
                    </p>
                </div>
                <!-- //// 3 /////  -->
                <div>
                    <h1>MISSION</h1>
                    <p>
                        To become the globally leading edtech ﬁrm with the  largest reach for coding education to the next generation of innovators.
                    </p>
                </div>
                <!-- //// 4 /////  -->
                <div>
                    <h1>OUR VALUES</h1>
                    <p>
                        <b>Integrity:</b> We want to be known for the truth and acknowledged trustworthy by any people or nation. We place a high value on the character and integrity of the people that work with us and the business engagements that we involve.
                    </p>
                    <p>
                        <b>Innovation:</b> We believe that tomorrow should always be better than today, so we work hard to ensure that we constantly improve learning and bring newness to all our endeavors.
                    </p>
                    <p>
                        <b>Intelligence:</b> We appreciate brilliance at all levels and ensure that we always go for the best in people.
                    </p>
                </div>
            </div>
            <!--  -->
        </div>
    </section>
    <!-- ABOUT US DONE -->
{% endblock content %}
