{% load static %}
    <!-- BANNER  -->
    <section id="banner">
        <div class="banner">
            <div class="banner-content">
                <h1>
                    DEVNAIJA CODING <br> AND FINANCIAL LITERACY SCHOOL FOR KIDS
                </h1>
                <h5>Physical (In-person) and Virtual (Online) Coding Classes for Kids and Adults aged 6-16 and 17+ respectively.</h5>
                <div class="container" id="btn">
                    <a href="{% url 'registration' %}" target="_blank">Get Started For Free.</a>
                </div>
            </div>
        </div>
        
    </section>
    <!-- BANNER DONE -->