{% load static %}

    <!-- FOOTER  -->
    <section id="footer">
        <div class=" footer">
            <!--  -->
            <div class="col img-col">
                <a href="{% url 'index' %}" target="_blank"><img src="{% static '' %}img/logo.png" class="img-fluid" alt="logo" srcset=""></a>
            </div>
            <!--  -->
            <div class="col">
                <h3>About Us</h3>
                <ul>
                    <li><i class='bx bxs-badge-check'></i> <a href="" target="_blank">Who we are</a></li>
                    <li><i class='bx bxs-badge-check'></i> <a href="" target="_blank">Contact Us</a></li>
                </ul>
            </div>
            <!--  -->
            <div class="col">
                <h3>Kids Courses</h3>
                <ul>
                    <li><i class='bx bxs-badge-check'></i> <a href="" target="_blank">Scratch</a></li>
                    <li><i class='bx bxs-badge-check'></i> <a href="" target="_blank">Robotics </a></li>
                    <li><i class='bx bxs-badge-check'></i> <a href="" target="_blank">HTML,CSS & Bootstrap</a></li>
                    <li><i class='bx bxs-badge-check'></i> <a href="" target="_blank">JavaScript</a></li>
                    <li><i class='bx bxs-badge-check'></i> <a href="" target="_blank">Financial Literacy </a></li>
                </ul>
            </div>
            <!--  -->
            <div class="col">
                <h3>Connect with us</h3>
                <div id="contact-social-icons">
                    <a href="" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="" target="_blank"><i class='bx bxl-twitter'></i></a>
                    <a href="" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    <a href="" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="" target="_blank"><i class='bx bxl-youtube'></i></a>
                    <a href="" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                </div>
            </div>
            <!--  -->
        </div>
    </section>
    <!-- FOOTER DONE -->