{% load static %}

<!-- NAVBAR -->
<section id="header-section">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '' %}img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span><i class='bx bx-menu'></i></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Programs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">1 on 1 Private</a>
                                <a class="dropdown-item" href="#">Private/Weekend</a>
                                <a class="dropdown-item" href="#">Summer Coding Robotics Bootcamp</a>
                                <a class="dropdown-item" href="#">Frontend and Backend For Adults</a>
                                <a class="dropdown-item" href="#">School Tech program & Club</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Ages 7 - 12</a>
                                <a class="dropdown-item" href="#">Ages 13 - 16</a>
                                <a class="dropdown-item" href="#">Ages 17+ / Adult</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'about' %}">About Us <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</section>
<!-- NAVBAR DONE -->

{% if messages %}
  {% for item in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{item}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}
    